@import "~bootstrap/dist/css/bootstrap.min.css";

$mb-primary:#660099;
$mb-primary-rgb:170,68,222;
$mb-dark: #2a2a2a;
:root,
[data-bs-theme=light] {
  --bs-blue: $mb-primary;
  --bs-primary: $mb-primary;
  --bs-primary-rgb:$mb-primary-rgb;
  --bs-font-sans-serif: 'Poppins','Inter',sans-serif;
}

ul,ol,li {
    padding: 0;
    margin: 0;
    list-style: none;
}
header, nav, section, article, aside, footer, hgroup {
  display: block;
}
a {
  text-decoration: none !important;
}
::selection {
  background: var(--bs-primary);
  color: var(--white);
}

.btn:first-child:active {
    background-color: var(--bs-primary);
    border: var(--bs-primary);
    border-color: var(--bs-primary);
}
